# Virtual environments
.venv/
venv/

# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test / coverage
.pytest_cache/
.coverage

# Environment variables
.env

# Editor directories
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
*.png
